{% extends "userprofile/user_profile_base.html" %}
{% block usercontent %}
     <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                <h5>{{user.username}}</h5>
                <p>Customer</p>
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{user.email}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">{{user.phone}}</p>
                    </div>
                  </div>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Full Name</h6>
                      <p class="text-muted">{{user.userdetails.fullname}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Date of Birth</h6>
                      <p class="text-muted">{{user.userdetails.date_of_birth}}</p>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <a href="{% url 'userprofile:edit-profile' %}">Edit Profile</a>
                    <span class="space">&nbsp;</span> <!-- Use a span element with some space -->
                    <a href="{% url 'userprofile:change-password' %}">Change Password</a>
                </div>

                 

                 
                </div>
              </div>
            </div>
         </div>
          
     </div>
        


{% endblock usercontent %}
