{% extends "base.html" %}
{% block title %} User Profile  {% endblock title %}
{% block content %}
<section class="pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-auto">
                <div class="row">
                    <div class="col-md-5">
                        
                        <div class="dashboard-menu">
                            <!-- Sidebar menu with links to profile, orders, address, etc. -->
                            <ul >   
                                <li {% if selected_menu == 'profile' %} class="selected" style="background-color: #f0f0f0; min-height: 45px; display: flex; align-items: center;" {% endif %} style="min-height: 45px; display: flex; align-items: center;"><a href="{% url 'userprofile:user-profile' %}?menu_item=profile"><i class="fi-rs-user mr-10"></i> PROFILE</a></li>


                                <li {% if selected_menu == 'orders' %} class="selected" style="background-color: #f0f0f0; min-height: 45px; display: flex; align-items: center;" {% endif %} style="min-height: 45px; display: flex; align-items: center;"><a href="{% url 'userprofile:user-orders' %}?menu_item=orders"><i class="fi-rs-shopping-bag mr-10"></i> ORDERS</a></li>


                                <li {% if selected_menu == 'address' %} class="selected" style="background-color: #f0f0f0; min-height: 45px; display: flex; align-items: center;" {% endif %} style="min-height: 45px; display: flex; align-items: center; min-height: 45px; display: flex; align-items: center;"><a href="{% url 'userprofile:user-address' %}?menu_item=address"><i class="fi-rs-marker mr-10"></i> MY ADDRESS</a></li>

                                <li  style="min-height: 45px;display: flex; align-items: center; "><a href=" {% url 'wallet' %} "><i class="fas fa-wallet mr-10"></i> WALLET </a></li>


                                <li  style="min-height: 45px;display: flex; align-items: center; "><a href="{% url 'signout' %} "><i class="fi-rs-sign-out mr-10"></i> LOG OUT</a></li>
                                <!-- Add more sections as needed -->
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="dashboard-content ">
                            <!-- This is where the dynamic content will be loaded -->
                            {% block usercontent %} {% endblock usercontent %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Preloader Start -->
<div id="preloader-active">
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
        <div class="text-center">
            <h5 class="mb-5">Now Loading</h5>
            <div class="loader">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Vendor JS-->
<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="assets/js/plugins/slick.js"></script>
<script src="assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="assets/js/plugins/wow.js"></script>
<script src="assets/js/plugins/jquery-ui.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.js"></script>
<script src="assets/js/plugins/magnific-popup.js"></script>
<script src="assets/js/plugins/select2.min.js"></script>
<script src="assets/js/plugins/waypoints.js"></script>
<script src="assets/js/plugins/counterup.js"></script>
<script src="assets/js/plugins/jquery.countdown.min.js"></script>
<script src="assets/js/plugins/images-loaded.js"></script>
<script src="assets/js/plugins/isotope.js"></script>
<script src="assets/js/plugins/scrollup.js"></script>
<script src="assets/js/plugins/jquery.vticker-min.js"></script>
<script src="assets/js/plugins/jquery.theia.sticky.js"></script>
<!-- Template  JS -->
<script src="assets/js/main.js"></script>
<script src="https://kit.fontawesome.com/400fcdfbd4.js" crossorigin="anonymous"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
</html>

{% endblock content %}