{% extends "adminside/base1.html" %}
{% block title %}Dashboard{% endblock title %}

{% block content %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form method = "post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Category Name</label>
                            <input type="text" placeholder="Type here" class="form-control" name = "category_name" />
                        </div>
                
                    
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control" name = "description"></textarea>
                        </div>

                        <div class="mb-4">
                            <input class="form-check-input" type="checkbox" checked name = "is_available" value="true">

                            <label> is availble </label>
                        </div>

                        <div class="mb-4">
                            <input class="form-check-input" type="checkbox" name= "soft_deleted" >
                            <label > soft delete </label>
                        </div>

                        <div class="mb-4">
                                <h4>Media</h4>
                                <div class="input-upload">
                                    <input class="form-control" type="file" name ="category_image" >
                                </div>
                        </div>


                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Create category</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Slug</th>
                                    <th>soft_deleted</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories  %}

                                <tr>
                                    <td class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </td>
                                    <td>{{category.id}}</td>
                                    <td><b>{{category.Category_name}}</b></td>
                                    <td>{{category.description}}</td>
                                    <td>{{category.slug }}</td>
                                    <td><span class="badge rounded-pill alert-success">{{category.soft_deleted }}</span></td>
                                    <td class="text-end">
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <a class="dropdown-item" href="#">Edit info</a>
                                                {% if not category.soft_deleted %}
                                                <a class="dropdown-item text-danger " href="{% url 'adminside:soft-delete-category' category.id %}">soft delete</a>
                                                {% else %}
                                                <a class="dropdown-item text-danger" href="{% url 'adminside:soft-delete-category' category.id %}">undo softDelete</a>
                                                {% endif %}
                                            </div>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> 

{% endblock content %}